<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bookstore Back Office</title>
		<link rel="preload" href="/typeface.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="/main.css">
		<script src="/index.js" defer></script>
	</head>
	<body>
		<nav>
			<div id="navSpace"></div>
			{{#each pages}}
				<a class="page {{#isEqual title ../title}}curr{{/isEqual}}" href="{{url}}">{{title}}</a>
			{{/each}}
		</nav>
		{{{body}}}
	</body>
</html>
