<table>
  <thead>
    <tr>
      <th>Book ID</th>
      <th>Genre ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Great Gatsby</td>
      <td>Fiction</td>
    </tr>
    <tr>
      <td>Pride and Prejudice</td>
      <td>Fiction</td>
    </tr>
    <tr>
      <td>1984</td>
      <td>Sci-Fi</td>
    </tr>
    <tr>
      <td>1984</td>
      <td>Fiction</td>
    </tr>
    <tr>
      <td>To Kill a Mockingbird</td>
      <td>Fiction</td>
    </tr>
  </tbody>
</table>

