<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fiction</td>
      <td>Fictional stories and narratives</td>
    </tr>
    <tr>
      <td>Mystery</td>
      <td>Mystery novels and crime fiction</td>
    </tr>
    <tr>
      <td>Romance</td>
      <td>Romance novels and love stories</td>
    </tr>
    <tr>
      <td>Sci-Fi</td>
      <td>Science fiction and futuristic stories</td>
    </tr>
    <tr>
      <td>Biograph</td>
      <td>Biographical accounts of real people</td>
    </tr>
  </tbody>
</table>

