<div id="util">
	<h1>{{title}}</h1>
	<p>Bookstore Back Office</p>
</div>
<main>
	<h2>Welcome to the Bookstore Back Office</h2>
	<p>Use the navigation bar to manage customers, orders, books, and genres. Use the buttons on the left side of the tables to create, edit, and delete.</p>
    <p>Note: <i>When deleting, make sure to select which rows you would like to delete.</i></p>
</main>
