<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="select-all" /></th>
      <th>Order ID</th>
      <th>Book</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>1</td>
      <td>The Great Gatsby</td>
      <td>1</td>
      <td>10.99</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>1</td>
      <td>Pride and Prejudice</td>
      <td>1</td>
      <td>9.99</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>2</td>
      <td>1984</td>
      <td>1</td>
      <td>12.99</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>3</td>
      <td>To Kill a Mockingbird</td>
      <td>1</td>
      <td>11.99</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>4</td>
      <td>Pride and Prejudice</td>
      <td>2</td>
      <td>19.98</td>
    </tr>
  </tbody>
</table>

