<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="select-all" /></th>
      <th>ID</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>1</td>
      <td>John Doe</td>
      <td>2023-05-01 10:30:00</td>
      <td>20.98</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>2</td>
      <td>Jane Smith</td>
      <td>2023-05-02 14:45:00</td>
      <td>12.99</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>3</td>
      <td>Jim Brown</td>
      <td>2023-05-03 11:15:00</td>
      <td>11.99</td>
    </tr>
    <tr>
      <td><input type="checkbox" class="select-row" /></td>
      <td>4</td>
      <td>Mary Lee</td>
      <td>2023-05-04 16:00:00</td>
      <td>19.98</td>
    </tr>
  </tbody>
</table>
