<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Doe</td>
      <td>2023-05-01 10:30:00</td>
      <td>20.98</td>
    </tr>
    <tr>
      <td>Jane Smith</td>
      <td>2023-05-02 14:45:00</td>
      <td>12.99</td>
    </tr>
    <tr>
      <td>Jim Brown</td>
      <td>2023-05-03 11:15:00</td>
      <td>11.99</td>
    </tr>
    <tr>
      <td>Mary Lee</td>
      <td>2023-05-04 16:00:00</td>
      <td>19.98</td>
    </tr>
  </tbody>
</table>
