<table>
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Date</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2023-05-01 10:30:00</td>
      <td>20.98</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2023-05-02 14:45:00</td>
      <td>12.99</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2023-05-03 11:15:00</td>
      <td>11.99</td>
    </tr>
    <tr>
      <td>4</td>
      <td>2023-05-04 16:00:00</td>
      <td>19.98</td>
    </tr>
  </tbody>
</table>
