:root {
	--accent: #737239;
	--lGray: #fafafa;
	--mGray: #ebebeb;
	--dGray: #878787;
	--pad: 30px;
}

@font-face {
	font-family: typeface;
	src: url(typeface.woff2) format(woff2),
		url(typeface.woff) format(woff);
}

body {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: var(--pad);
	margin: calc(3 * var(--pad)) 5% 0;
	background-color: var(--lGray);
	font-family: typeface;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 57px;
	background-color: var(--lGray);
	border-bottom: 3px solid var(--mGray);
	overflow: visible;
}

#navSpace {
	width: calc(6 * var(--pad));
}

nav div, nav a {
	float: left;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	width: calc(5 * var(--pad));
}

.page, #util p {
	text-decoration: none;
	color: var(--dGray);
}

.curr {
	font-weight: bold;
	color: var(--accent);
	border-bottom: 3px solid var(--accent);
}

.curr, .page:hover {
	background-color: var(--mGray);
}

#util {
	width: 250px;
}

#util h1 {
	margin: 0;
}

#util p {
	margin: 0;
	font-size: 1.17em;
}

#util button {
	background-color: var(--mGray);
        color: var(--dGray);
	font-weight: bold;
	width: 100%;
	height: calc(var(--pad) * 1.5);
	margin: calc(var(--pad) / 2) 0 0;
	border: none;
	border-radius: 5px;
	font-size: medium;
	font-family: typeface;
}

#util button:hover {
	background-color: var(--lGray);
	border: 2px solid var(--mGray);
}

main {
	padding: var(--pad);
	padding-top: 0;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 var(--mGray);
	background-color: #fff;
}

main h2 {
	padding-top: 30px;
}

table {
	width: 1000px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 4px 8px var(--mGray);
	border-radius: 10px;
}

thead th{
        background-color: var(--accent);
        color: #fff;
}

th, td {
	padding: 15px;
	background-color: var(--lGray);
}

th {
	text-align: left;
}

tbody td {
	position: relative;
}
