:root {
	--accent: #737239;
	--lGray: #fafafa;
	--mGray: #ebebeb;
	--dGray: #878787;
	--pad: 30px;
}

@font-face {
	font-family: typeface;
	src: url(typeface.woff2) format(woff2),
		url(typeface.woff) format(woff);
}

body {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: var(--pad);
	margin: calc(3 * var(--pad)) calc(3 * var(--pad)) 0;
	background-color: var(--lGray);
	font-family: typeface;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 57px;
	background-color: var(--lGray);
	border-bottom: 3px solid var(--mGray);
	overflow: visible;
}

#navSpace {
	width: calc(var(--pad) * 3);
}

nav div, nav a {
	float: left;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	width: calc(5 * var(--pad));
}

.page, #util p {
	text-decoration: none;
	color: var(--dGray);
}

.curr {
	font-weight: bold;
	color: var(--accent);
	border-bottom: 3px solid var(--accent);
}

.curr, .page:hover {
	background-color: var(--mGray);
}

#util {
	width: calc(9 * var(--pad));
}

#util h1 {
	margin: 0;
}

#util p {
	margin: 0;
	font-size: 1.17em;
}

#util button {
	width: 100%;
	height: calc(var(--pad) * 1.5);
	margin: calc(var(--pad) / 2) 0 0;
	border: 2px solid transparent;
	border-radius: 5px;
	background-color: var(--mGray);
	color: var(--dGray);
	font-size: medium;
	font-weight: bold;
	font-family: typeface;
}

#util button:hover {
	background-color: var(--lGray);
	border-color: var(--mGray);
}



#util dialog {
	width: 50%;
	border: none;
	border-radius: 10px;
	
	& form {
		& legend {
			font-size: large;
			font-weight: bold;
			color: var(--accent);
		}
		
		& fieldset {
			border: 2px solid var(--mGray);
			border-radius: 5px;
			
			& input, select {
				width: 100%;
				padding: 5px;
				border-radius: 3px;
				margin-bottom: 15px;
				border: 1px solid var(--mGray);
				background-color: var(--lGray);
				box-sizing: border-box;
				appearance: none;
			}
			
			& input:last-child, select:last-child {
				margin-bottom: 0px;
			}
		}
		
		.formButtons {
			display: flex;
			
			& button {
				flex: 1;
				margin: 3px;
			}
		}
	}
}

main {
	padding: var(--pad);
	padding-top: 0;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 var(--mGray);
	background-color: #fff;
}

main h2 {
	padding-top: 30px;
}

table {
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 4px 8px var(--mGray);
	border-radius: 10px;
}

thead th{
        background-color: var(--accent);
        color: #fff;
}

th, td {
	padding: 15px;
	background-color: var(--lGray);
}

th {
	text-align: left;
}

tbody td {
	position: relative;
}
