:root {
	--accent: #737239;
	--lGray: #fafafa;
	--mGray: #ebebeb;
	--dGray: #878787;
	--sPad: 15px;
	--mPad: 30px;
	--bPad: 90px;
    --vPad: 5vw;
    --numNav: 7;
}

@font-face {
	font-family: typeface;
	src: url(typeface.woff2) format(woff2),
		url(typeface.woff) format(woff);
}

body {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: var(--mPad);
	margin: var(--bPad) var(--vPad) 0;
	background-color: var(--lGray);
	font-family: typeface;
}

nav {
	position: fixed;
	top: 0;
	width: 100vw;
	left: 0;
	height: 57px;
	background-color: var(--lGray);
	border-bottom: 3px solid var(--mGray);
	overflow: visible;
}

#navSpace {
	width: var(--vPad);
}

nav div, nav a {
	float: left;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
/*    width: calc(5 * var(--mPad));*/
    width: calc(90vw / var(--numNav));
}

.page, #util p {
	text-decoration: none;
	color: var(--dGray);
}

.curr {
	font-weight: bold;
	color: var(--accent);
	border-bottom: 3px solid var(--accent);
}

.curr, .page:hover {
	background-color: var(--mGray);
}

menu {
/*	width: calc(3 * var(--bPad));*/
    width: calc(90vw / var(--numNav) * 2 - var(--mPad));
    padding: 0;
    
    & h1 {
        margin: 0;
        color: var(--accent);
    }
    
    & p {
        margin: 0;
        font-size: 1.17em;
    }
    
    & .search, & button {
        width: 100%;
        height: calc(var(--mPad) * 1.5);
        margin: var(--sPad) 0 0;
        border: 2px solid transparent;
        border-radius: 5px;
        font-size: medium;
        font-weight: bold;
        font-family: typeface;
    }
    
    & .search {
        padding-left: var(--sPad);
    }
    
    & button {
        background-color: var(--mGray);
        color: var(--dGray);
        
        & :hover {
            background-color: var(--lGray);
            border-color: var(--mGray);
        }
    }
    
    & hr {
        border: 1px solid var(--mGray);
        margin: var(--sPad) 0 0;
    }
    
    & dialog {
        width: 50vw;
        border: none;
        border-radius: 10px;
        
        & form {
            & legend {
                font-size: large;
                font-weight: bold;
                color: var(--accent);
            }
            
            & fieldset {
                border: 2px solid var(--mGray);
                border-radius: 5px;
                
                & input, select {
                    width: 100%;
                    padding: 5px;
                    border-radius: 3px;
                    margin-bottom: var(--sPad);
                    border: 1px solid var(--mGray);
                    background-color: var(--lGray);
                    box-sizing: border-box;
                    appearance: none;
                }
                
                & input:last-child, select:last-child {
                    margin-bottom: 0px;
                }
            }
            
            #createError, #editError, #deleteError {
                color: red;
                padding: 1vw;
                font-size: medium;
            }
            
            .formButtons {
                display: flex;
                
                & button {
                    flex: 1;
                    margin: 3px;
                }
            }
        }
    }
}

main {
	padding: var(--mPad);
	padding-top: 0;
/*	width: 100%;*/
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 var(--mGray);
	background-color: #fff;
    
    & h2 {
        padding-top: var(--mPad);
        color: var(--accent);
    }
}

table {
	width: 100%;
    height: fit-content;
	border-collapse: collapse;
    display: block;
    overflow-x: scroll;
	box-shadow: 0 4px 8px var(--mGray);
	border-radius: 10px;
    white-space: nowrap;
    overscroll-behavior: none;

    & thead th, & tbody td {
        padding: var(--sPad);
        width: 100vw;
    }
    
	& thead th {
        text-align: left;
        background-color: var(--accent);
		color: #fff;
	}
	
	& tbody {
		& tr {
			border-top: 1px solid var(--mGray);
		}

		& tr:has(> td input:checked) {
			border-top: 1px solid var(--lGray);
			background-color: var(--mGray);
		}
	}
}
